{% extends 'BeubiDemoBundle::layout.html.twig' %}

{% block home %}<li class="active"><a href="{{ path('home') }}">Home</a></li>{% endblock %}

{% block content %}

  <!-- Header -->
  <header id="head">
    <div class="container">
      <div class="row">
        <h1 class="lead">Unlock Your Potential</h1>
        <p class="tagline">Ride like never before!</p>
        {#<p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" role="button">DOWNLOAD NOW</a></p>#}
      </div>
    </div>
  </header>
  <!-- /Header -->

  <!-- Intro -->
  <!-- <div class="container text-center">
    <br> <br>
    <h2 class="thin">The best place to tell people why they are here</h2>
    <p class="text-muted">
      The difference between involvement and commitment is like an eggs-and-ham breakfast:<br>
      the chicken was involved; the pig was committed.
    </p>
  </div> -->
  <!-- /Intro-->

  <!-- Highlights - jumbotron -->
  <div class="jumbotron top-space">
    <div class="container">

      <h3 class="text-center thin">Reasons to use UbiCycling</h3>

      <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Multi Device Compatibility</h4></div>
          <div class="h-body text-center">

          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Power Analysis</h4></div>
          <div class="h-body text-center">

          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>HR Variability Analysis</h4></div>
          <div class="h-body text-center">

          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Coaches support</h4></div>
          <div class="h-body text-center">

          </div>
        </div>
      </div> <!-- /row  -->

    </div>
  </div>
  <!-- /Highlights -->

  <!-- container -->

  <div class="container">
    <!--
                <h2 class="text-center top-space">Frequently Asked Questions</h2>
                <br>

                <div class="row">
                    <div class="col-sm-6">
                        <h3>Which code editor would you recommend?</h3>
                        <p>I'd highly recommend you <a href="http://www.sublimetext.com/">Sublime Text</a> - a free to try text editor which I'm using daily. Awesome tool!</p>
                    </div>
                    <div class="col-sm-6">
                        <h3>Nice header. Where do I find more images like that one?</h3>
                        <p>
                            Well, there are thousands of stock art galleries, but personally,
                            I prefer to use photos from these sites: <a href="http://unsplash.com">Unsplash.com</a>
                            and <a href="http://www.flickr.com/creativecommons/by-2.0/tags/">Flickr - Creative Commons</a></p>
                    </div>
                </div> <!-- /row -->
  <!--
    <div class="row">
      <div class="col-sm-6">
        <h3>Can I use it to build a site for my client?</h3>
        <p>
          Yes, you can. You may use this template for any purpose, just don't forget about the <a href="http://creativecommons.org/licenses/by/3.0/">license</a>,
          which says: "You must give appropriate credit", i.e. you must provide the name of the creator and a link to the original template in your work.
        </p>
      </div>
      <div class="col-sm-6">
        <h3>Can you customize this template for me?</h3>
        <p>Yes, I can. Please drop me a line to sergey-at-pozhilov.com and describe your needs in details. Please note, my services are not cheap.</p>
      </div>
    </div> <!-- /row -->

    <div class="jumbotron top-space">
      <h4>It starts with having a clear goal, finding expert instruction, performing structured training and receiving immediate feedback throughout the process. Our eco-system of web, mobile and desktop products will help guide you on your journey. Results start here.</h4>
         <p class="text-right"><a class="btn btn-success btn-large">Learn more »</a></p>
      </div>

  </div>  <!-- /container -->

  <!-- Social links. @TODO: replace by link/instructions in template -->
  <section id="social">
    <div class="container">
      <div class="wrapper clearfix">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_linkedin_counter"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <!-- AddThis Button END -->
      </div>
    </div>
  </section>
  <!-- /social links -->

{% endblock content %}
